.editor{
  height: calc(100%);
}
.json-outter {
  height: calc(100% - 52px);
  display: grid;
  grid-template-rows: 35px auto;
}
.input-menu {
	display: flex;
	height: 35px;
	color : #fff;
	width: 100%;
	background-color: color(input_menu);
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	justify-content: space-between;
}
.input-outter {
  position: relative;
  min-height: 0;
}
#input { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
	display: inline-block;
  cursor: pointer;
  padding: 12px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: color(dark_focus);
}

.inputfile + label * {
	pointer-events: none;
}