html{
  height: calc(100%);
}
body {
  height: calc(100% - 54px);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: calc(100%);
  margin-top: 54px;
  display: grid;
  grid-template-rows: auto 124px;
}

.columns {
  height: 100%;
  padding: 0px;
}

.menu-btn{
  width: 26px;
  height: 26px;
  margin: 2px;
  padding: 0;
  border-radius: 2px;
  border: 1px solid transparent;
  background: transparent;
  opacity: .8;
  float: left;
  color: #fff;
  &:hover{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.4);
  }
}

[contenteditable="true"].line-text {
  white-space: pre;
  overflow: hidden;
} 
[contenteditable="true"].line-text br {
  display:none;

}
[contenteditable="true"].line-text * {
  display:inline;
  white-space: pre;
}

.dropdown-btn {
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
    .dropdown-btn {
      background-color: #3e8e41;
    }
  }
}
.dropdown-content {
  display: none;
  padding: 0;
  position: absolute;
  background-color: color(console_bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  .dropdown-item {
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: color(transparent_white);
    }
    a {
      color: #fff;
      // padding: 5px 10px;
      text-decoration: none;
      &:hover {
        color: color(console_warning);
      }
    }
  }
}

.m-5{
  margin: 5px;
}

.is-128x64{
  width: 128px; height: 64px;
}

.border{
	border: 2px solid #fff;
	margin: 3px;
	padding: 2px;
}
.underline{
	border-bottom: 2px solid #fff;
}
.navbar-brand{
	font-weight: bold;
}
