.modal-full-height {
  position: absolute;
  display: flex;
  width: 400px;
  height: auto;
  min-height: 100%;
  top: 0;
}

.modal-content-right {
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border: 0;
  border-radius: .125rem;
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    color: #fff;
    .modal-close {
      padding: 1rem 1rem;
      margin: -0.6rem -1rem -1rem auto;
    }
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }
  
  .menu {
    text-align: left;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
  }
  
  .modal-body {
    padding: 1.5rem;
    color: #000;
    flex: 1 1 auto;
  }
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

/* The switch - the box around the slider */
.switch {
  text-align: left;
  position: relative;
  display: flex;
  width: 40px;
  height: 14px;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

.aboutme {
  background-color: #fff;
  padding: 1.25rem;
  .avatar-area{
    .image{
      padding: 0.5rem;
    }
    text-align: center;
  }
  .content-area {
    text-align: left;
  }
}