.outline, .outline-content {
  overflow: hidden;
  height: calc(100%);
}

.outline-content {
  border-left: 0.1px solid #fff;
  display: grid;
  grid-template-rows: 35px 26px auto;
  background-color: color(console_bg);
  color: #fff;
  text-align: left;
  box-sizing: content-box;
  font-size: 10pt;
}

.error{
  color: color(console_warning);
  width: 100%;
}

.outline-menu {
  width: 100%;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: color(console_menu);
  border-bottom: 1px solid color(console_menu);
}

.outline-navigationbar{
  width: 100%;
  line-height: 26px;
  padding: 0; margin: 0; padding-left: 10px;
  background-color: color(console_navbar);
  border-bottom: 1px solid color(console_navbar);
  overflow: hidden;
  color: color(console_bg);
}

.outline-content-outer{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
	overflow: auto;
	max-height: 100%;
}

.outline-btn {
  width: 24px; height: 24px;
  padding: 0; margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.node-detail {
  padding: 2px;
}

.node-line {
  display: flex;
}

.node-value {
  padding-top: 2px;
}
